@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 0.9em;
    height: 1em;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    margin-block: 0.1em;
  }

  ::-webkit-scrollbar-thumb {
    background: #000;
    border: 0.2em solid #fff;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}
.tiptap ol li::marker,
.tiptap li::marker {
  color: black;
}
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap code {
  background-color: rgba(97, 97, 97, 0.1);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}

.tiptap pre {
  background: #0d0d0d;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre.tiptap code,
.tiptap pre code {
  padding: 0;
  background: none;
  font-size: 0.8rem;
  color: inherit;
}

.tiptap pre code .hljs-comment,
.tiptap pre code .hljs-quote {
  color: #616161;
}

.tiptap pre code .hljs-variable,
.tiptap pre code .hljs-template-variable,
.tiptap pre code .hljs-attribute,
.tiptap pre code .hljs-tag,
.tiptap pre code .hljs-name,
.tiptap pre code .hljs-regexp,
.tiptap pre code .hljs-link,
.tiptap pre code .hljs-selector-id,
.tiptap pre code .hljs-selector-class {
  color: #f98181;
}

.tiptap pre code .hljs-number,
.tiptap pre code .hljs-meta,
.tiptap pre code .hljs-built_in,
.tiptap pre code .hljs-builtin-name,
.tiptap pre code .hljs-literal,
.tiptap pre code .hljs-type,
.tiptap pre code .hljs-params {
  color: #fbbc88;
}

.tiptap pre code .hljs-string,
.tiptap pre code .hljs-symbol,
.tiptap pre code .hljs-bullet {
  color: #b9f18d;
}

.tiptap pre code .hljs-title,
.tiptap pre code .hljs-section {
  color: #faf594;
}

.tiptap pre code .hljs-keyword,
.tiptap pre code .hljs-selector-tag {
  color: #70cff8;
}

.tiptap pre code .hljs-emphasis {
  font-style: italic;
}

.tiptap pre code .hljs-strong {
  font-weight: 700;
}
.tiptap strong {
  color: inherit;
}
.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.tiptap ul[data-type="taskList"], ul[data-type="taskList"] {
  list-style: none;
  padding: 0;
}
.tiptap ul[data-type="taskList"] p {
  margin: 0;
}

.tiptap ul[data-type="taskList"] li {
  display: flex;
}
.tiptap ul[data-type="taskList"] li label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}

.tiptap ul[data-type="taskList"] li div {
  flex: 1 1 auto;
}

.tiptap ul[data-type="taskList"] li ul li,
.tiptap ul[data-type="taskList"] li ol li {
  display: list-item;
}

.tiptap ul[data-type="taskList"] li ul[data-type="taskList"] > li {
  display: flex;

}
li[data-type="taskItem"] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.align-left {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}